[
    {
        "name": "my prowl",
        "driver": "prowl",
        "disabled": true,
        "config": {
            "apikey": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
            "application": "urlwatch",
            "priority": "1"
        }
    },
    {
        "name": "my notifo",
        "driver": "notifo",
        "config": {
            "apiuser": "myname",
            "apisecret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
            "to": "myname",
            "label": "urlwatch",
            "title": "urlwatch state change"
        }
    },
    {
        "name": "Request Bin Test",
        "driver": "webhook",
        "config": {
            "url": "http://requestb.in/somevalidbin"
        }
    }
]
