[
    {
        "name": "my prowl",
        "driver": "prowl",
        "disabled": true,
        "config": {
            "apikey": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
            "application": "urlwatch",
            "priority": "1"
        }
    },
    {
        "name": "notify my android",
        "driver": "nma",
        "disabled": true,
        "config": {
            "apikey": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
            "application": "urlwatch",
            "priority": "1"
        }
    },
    {
        "name": "Request Bin Test",
        "driver": "webhook",
        "config": {
            "url": "http://requestb.in/somevalidbin"
        }
    }
]
